@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hide-nav {
    transform: translateY(-100%);
  }
}

button {
  user-select: none;
}

.darkmode-toggle-capsule {
  width: 64px;
  height: 32px;
  border: 2px solid white;
  border-radius: 9999px;
  overflow: hidden;
  box-sizing: content-box;
  box-shadow: 0 0 1rem 0.25rem black;
}

.darkmode-toggle-capsule-bg {
  transform: translateX(-32px);
}

.checked .darkmode-toggle-capsule-bg {
  transform: translateX(0);
}

.darkmode-toggle-switch {
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  box-sizing: border-box;
  /* opacity: 0.5 */
}

.checked .darkmode-toggle-switch {
  transform: translate(32px, -50%);
}

.swiper {
  user-select: none;
  max-width: calc(100vw - 64px);
}

.swiper-wrapper {
  align-items: center;
}

.dark .swiper-pagination-bullet {
  box-shadow: 0 0 0 2px white;
}

.swiper img {
  max-height: 360px;
}

.swiper-slide {
  height: 360px !important;
}

@media (min-width: 768px) {
  .swiper img {
    max-height: 480px;
  }

  .swiper-slide {
    height: 480px !important;
  }
}

@media (min-width: 1024px) {
  .swiper img {
    max-height: 560px;
  }

  .swiper-slide {
    height: 560px !important;
  }
}

@media (min-width: 1280px) {
.swiper img {
    max-height: 640px;
  }

  .swiper-slide {
    height: 640px !important;
  }
}
