@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hide-nav {
    transform: translateY(-100%);
  }
}

button {
  user-select: none;
}

.darkmode-toggle-capsule {
  width: 64px;
  height: 32px;
  border: 2px solid white;
  border-radius: 9999px;
  overflow: hidden;
  box-sizing: content-box;
  box-shadow: 0 0 1rem 0.25rem black;
}

.darkmode-toggle-capsule-bg {
  transform: translateX(-32px);
}

.checked .darkmode-toggle-capsule-bg {
  transform: translateX(0);
}

.darkmode-toggle-switch {
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  box-sizing: border-box;
  /* opacity: 0.5 */
}

.checked .darkmode-toggle-switch {
  transform: translate(32px, -50%);
}

.carousel {
  overflow: hidden;
}

.carousel--container {
  display: flex;
}

.carousel--slide {
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
  min-width: 0;
}
